<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bioteca</title>

  <!-- Custom fonts for this template-->
  <link href="../css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Nombre principal -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon">
          <img src="http://imgfz.com/i/oLWDpq9.png" alt="holi" width="80" height="60" />
        </div>
        <div class="sidebar-brand-text mx-3"> BIOTECA </div>
      </a>

      <!-- Division -->
      <hr class="sidebar-divider my-0">

      <!-- Item inicio -->
      <% if(typeof datospersona == 'undefined'){ %>
        <li class="nav-item active">
          <a class="nav-link" href="/index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>INICIO</span></a>
        </li>
      <% }else{ %>
      <li class="nav-item active">
        <a class="nav-link" href="/index/<%= datospersona[0].idpersona%>">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>INICIO</span></a>
      </li>
      <% } %>
      

      <!-- Division -->
      

      <% if(typeof datospersona !== 'undefined'){ %>
       <% if (datospersona[0].rol==3){ %>
        <hr class="sidebar-divider">
      <li class="nav-item">
        <a class="nav-link" href="/Postulaciones/<%= datospersona[0].idpersona%>">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>POSTULACIONES</span></a>
    </li>
      <% }else if (datospersona[0].rol==2){ %>
        <li class="nav-item">
          <a class="nav-link" href="/mispostulacione/<%= datospersona[0].idpersona%>">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>MIS POSTULACIONES</span></a>
        </li>
        <hr class="sidebar-divider">
       <% } %>
    <% } %>

    


    <% if(typeof datospersona == 'undefined'){ %>
    <form method="POST" action="/index">
      <% }else if(datospersona[0].rol==2 || datospersona[0].rol==3){ %>
        <form method="POST" action="/index/<%= datospersona[0].idpersona%>">
          <% } %>
        <!-- item libros -->
        <li class="nav-item">
            <button type="submit" class="btn btn-outline-info btn-user btn-block" name="libros"
                value="1">LIBROS</button>
        </li>

        <!-- item revistas -->
        <li class="nav-item">
            <button type="submit" class="btn btn-outline-info btn-user btn-block" name="revistas"
                value="1">REVISTAS</button>
        </li>

        <!-- item articulos-->
        <li class="nav-item">
            <button type="submit" class="btn btn-outline-info btn-user btn-block" name="articulos"
                value="1">ARTÍCULOS</button>
        </li>


        <!-- categorias  -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>CATEGORÍAS</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <button type="submit" class="btn btn-light btn-user btn-block" name="animales"
                        value="1">Animales</button>
                    <button type="submit" class="btn btn-light btn-user btn-block" name="plantas"
                        value="1">Plantas</button>
                    <button type="submit" class="btn btn-light btn-user btn-block" name="botanica"
                        value="1">Botánica</button>
                    <button type="submit" class="btn btn-light btn-user btn-block" name="zoologia"
                        value="1">Zoología</button>
                    <button type="submit" class="btn btn-light btn-user btn-block" name="ecologia"
                        value="1">Ecología</button>
                    <button type="submit" class="btn btn-light btn-user btn-block" name="conservacion"
                        value="1">Conservación</button>
                    <button type="submit" class="btn btn-light btn-user btn-block" name="genetica"
                        value="1">Genética</button>
                </div>
            </div>
        </li>
    </form>
    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

      <!-- ocultar panel -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Buscar-->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar.." aria-label="Search"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- panel de postular y usuario -->
          <ul class="navbar-nav ml-auto">

            <% if(typeof datospersona == 'undefined'){ %>
            <a href="/login" class="row2">
              <button type="button" class="btn btn-primary btn-lg">Iniciar sesión</button>
            </a>

            <% }else if (datospersona[0].rol==3){ %>
            <a href="/subirarchivo/<%= datospersona[0].idpersona%>" class="row2">
              <button type="button" class="btn btn-primary btn-lg">Subir Archivo</button>
          </a>

          <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= datospersona[0].nombres%></span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>

              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Salir
                </a>
              </div>
            </li>

          <% } else if (datospersona[0].rol==2){ %>
            <a href="/subirarchivo/<%= datospersona[0].idpersona %>" class="row2">
              <button type="button" class="btn btn-primary btn-lg">Postular</button>
            </a>
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= datospersona[0].nombres%></span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>

              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Salir
                </a>
              </div>
            </li>
            
          <% } %>
          </ul>

        </nav>

        <!-- Contenedor principal (FOTO RIO Y LOGO) -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <% if(typeof datospersona == 'undefined' && typeof bool == 'undefined' && typeof boolevaluar == 'undefined' && typeof boolpostulaciones == 'undefined'){ %>
          <center>
            <div class="">
              <img src="http://imgfz.com/i/GBESMT6.png" width="450"
                height="200">
              <h4>Bioteca es un respositorio web en el que encontrarás documentos que te brindarán información acerca
                de aquellas investigaciones realizadas de la Región Amazónica y temáticas referentes al campo de la
                biología y afines.
              </h4>
            </div>
          </center>
          


          <img src="https://pidamazonia.com/sites/default/files/Actualidad/Foto%20web%20mayo.png" width="1170"
            height="400">
          <p>

          </p>
          <% } %>
          <!-- Content Column TODOS LOS DOCUMENTOS APROBADOS-->

          <% if(typeof boolevaluar == 'undefined' && typeof bool == 'undefined' && typeof datos != 'undefined' && typeof boolpostulaciones=='undefined'){ %>
          <!-- Color System -->
          <div class="row">
            <% datos.forEach(element => { %>
            <div class="col-lg-3 mb-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <% if(typeof datospersona == 'undefined'){ %>
                        <form method="POST" action="/infodocumento">
                          <% } else{%>  
                            <form method="POST" action="/infodocumentoadmin/<%= datospersona[0].idpersona%>">
                            <% }%> 
                          <button type="submit" class="btn btn-success btn-user btn-block"
                                name="documento" value="<%= element['iddocumento']%>""><%= element['titulo']%></button>
                            <!--<a target=" _blank" rel="nofollow" type="submit" name="documento"
                                href=""><%= element['titulo']%>
                                </a>-->
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                src="https://biodiversidadsah.files.wordpress.com/2011/04/biologia.jpg"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <% }%>
        
        </div>
        <% if(typeof boolevaluar=='undefined' && typeof bool != 'undefined' && typeof datos != 'undefined' && typeof boolpostulaciones=='undefined'){ %>
        <!--Mostrar Documento MOSTRAR DOCUMENTO SELECCIONADO-->
        <div class="row">

          <!-- Content Column -->
          <div class="col-lg-6 mb-4">
              <center>
                  <!-- Contenedor documento -->
                  <div class="container-fluid">

                      <div class="row">

                          <div class="col-lg-10 mb-15">
                              <div class="card shadow mb-4">
                                  <div class="card-body">
                                      <div>
                                          <img id="ImagenParaDescargar" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                              src="https://biodiversidadsah.files.wordpress.com/2011/04/biologia.jpg"
                                              alt="">
                                      </div>
                                  </div>
                              </div>

                          </div>

                      </div>
                      <div class="card-footer py-3">
                          <button type="button" onclick="Visualizar()" class="btn btn-outline-info">Visualizar</a>
                          <!--<button type="button" onclick="Descargar()" class="btn btn-outline-info">Descargar</button >--> 
                      </div>
                  </div>
              </center>
          </div>

          <div class="col-lg-6 mb-4">
              <div class="row">
                  <% datos.forEach(element => { %>
                  <!-- Page Heading -->
                  <div>
                      <h1 id="TituloParaDescargar"><%= element['titulo']%></h1>
                      <br>
                      <h4 class="h4 mb-0 text-gray-800">Autor</h4></br>
                      <br>
                      <h4 class="h4 mb-0 text-gray-800">Descripción</h4></br>
                      <h4><%= element['descripcion']%></h4>
                  </div>
                  <% }); %>
              </div>
          </div>
      </div>
      <% }%>
      

      <!--SUBIR ARCHIVO-->
      <% if(typeof boolevaluar=='undefined' && typeof boolsubir != 'undefined' && typeof boolpostulaciones=='undefined'){ %>
      <div>
        <form id="FormSubir" method="POST" action="/subirDocumento/<%= datospersona[0].idpersona%>" onsubmit="return false">
            <div class="row2">
                <div id="DivForm" class="form-group col-md-6">
                    <label for="inputEmail4">Título*</label>
                    <input disabled type="text" class="form-control form-control-user" id="Titulo" name="titulo"
                        value="  ">

                    <br><label for="inputEmail4">Descripción*</label></br>
                    <input disabled type="text" class="form-control form-control-user" id="Descripcion" value=""
                        name="descripcion">

                        <br><label for="inputEmail4">Autores*</label></br>
                    
                        <input type="checkbox" onchange="AgregarAutorInput()" id="Agregador" disabled>+</input>
                        <input id="ContadorAutores" onclick="" type="hidden" name=contador>

                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Fecha Publicacion*</label>
                    <input disabled type="date" class="form-control form-control-user" placeholder="Fecha Publicacion"
                        id="FechaPublicacion" name="fecha">
                    <br>
                    <select disabled class="custom-select custom-select-sm" id="Categorias" name="categoria">
                        <option selected>Categoría</option>
                        <option value="1">Animales</option>
                        <option value="2">Plantas</option>
                        <option value="3">Botánica</option>
                        <option value="4">Zoología</option>
                        <option value="5">Ecología</option>
                        <option value="6">Conservación</option>
                        <option value="7">Genética</option>
                        <option value="8">Amazonia Colombiana</option>
                    </select>
                    </br>
                    <br>
                    <select disabled class="custom-select custom-select-sm" id="Tipos" name="tipo">
                        <option selected>Tipo de documento</option>
                        <option value="1">Libro</option>
                        <option value="2">Artículo</option>
                        <option value="3">Revista</option>
                    </select>
                    </br>
                </div>

            </div>
            <div>
                <center>
                    <button disabled id="Cargar" onclick="Firebase()" type="submit" class="btn btn-primary">Subir archivo</button>
                </center>
            </div>
            <h1></h1>
        </form>

        <div class="row3">
            <form>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                        <label class="custom-file-label" for="customFileLang" id="LabelArchivo">Debe seleccionar un Archivo primero</label>
                        <center>
                        <progress id="uploader" value="0" max="100" min='0'></progress>
                        </center>
                    </div>
                </div>
            </form>
        </div>
        <% }%>

         <!--EVALUACION-->
         <% if(typeof boolevaluar!='undefined' && typeof boolsubir == 'undefined' && typeof bool=='undefined' && typeof boolpostulaciones=='undefined'){ %>
          <div>
            <form method="POST" action="/EvaluarDocumento/<%= datospersona[0].idpersona%>">
                <div class=" row2">
  
                    <div class="form-group col-md-6">
                        <center>
                            <br><label for="inputEmail4">Estructura documento en normas APA: </label></br>
                            <br><label for="inputEmail4">Temática: </label></br>
                            <br><label for="inputEmail4">Contenido científico: </label></br>
                            <br><label for="inputEmail4">Citas y bibliografía: </label></br>
                            <br><label for="inputEmail4">Calidad de contenido: </label></br>
                            <br><label for="inputEmail4">Coherencia con la temática: </label></br>
                            <br><label for="inputEmail4">Comentarios: </label></br>
                        </center>
                    </div>
  
                    <div class="form-group col-md-6">
                        <center>
                            <br>
                            <select class="custom-select custom-select-sm" name="criterio1">
                                <option selected>Calificación</option>
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                            </select>
                            </br>
                            <br>
                            <select class="custom-select custom-select-sm" name="criterio2">
                                <option selected>Calificación</option>
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                            </select>
                            </br>
                            <br>
                            <select class="custom-select custom-select-sm" name="criterio3">
                                <option selected>Calificación</option>
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                            </select>
                            </br>
                            <br>
                            <select class="custom-select custom-select-sm" name="criterio4">
                                <option selected>Calificación</option>
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                            </select>
                            </br>
                            <br>
                            <select class="custom-select custom-select-sm" name="criterio5">
                                <option selected>Calificación</option>
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                            </select>
                            </br>
                            <br>
                            <select class="custom-select custom-select-sm" name="criterio6">
                                <option selected>Calificación</option>
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                            </select>
                            </br>
                            <br>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    name="comentarios"></textarea>
                            </div>
                    </div>
                    </center>
                </div>
  
                <div>
                    <center>
                        <% documentoevaluado.forEach(element => { %>
                          <input type="text">
                        <div>
                            <button type="submit" class="btn btn-primary" name="documentoid"
                                value="<%= element['iddocumento']%>">Guardar evaluación</button>
                        </div>
                        <% }); %>
                    </center>
                </div>
  
            </form>
  
  
        </div>
        <% }%>


       <!--POSTULACIONES-->
      <% if(typeof boolpostulaciones!='undefined' && typeof boolevaluar=='undefined' && typeof boolsubir == 'undefined' && typeof bool=='undefined'){ %>
        <div class="container-fluid">
  
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Documentos postulados</h1>
  
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Postulaciones</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Nombre documento</th>
                      <th>usuario</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% datos.forEach(element => { %>
                    <tr>
                      <td>
                        <a href="/evaluacion/<%= datospersona[0].idpersona%>" class="row2">
                          <button type="button" class="btn btn-warning">Evaluar</button>
                        </a>
                      <td>
                        <form method="POST" action="/infodocumentoadmin/<%= datospersona[0].idpersona%>">
                        <button type="submit" class="btn btn-success btn-user btn-block"
                              name="documento" value="<%= element['iddocumento']%>"">Visualizar</button>
                          <!--<a target=" _blank" rel="nofollow" type="submit" name="documento"
                              href=""><%= element['titulo']%>
                              </a>-->
                      </form>
                      </td>
                      </td>
                      <td>
                        <%= element['titulo']%>
                      </td>
                      <td>
                        <%= element['correo']%>
                      </td>
                      <td>
  
                        <% datospersona.forEach(element => { %>
                        <a class="btn btn-danger"
                          href="/BorrarDocumento/<%= element['iddocumento']%>/<%= element['idpersona']%>">Borrar</a>
                        <% }); %>
  
                        <!--
                        <button type="button" class="btn btn-success">Almacenar</button>
          
                        <a class="btn btn-danger"
                          href="/BorrarDocumento/<%= element['iddocumento']%>">Borrar</a>  
                           -->
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  
        </div>
        <% }%>





        
    </div>
  </div>
      </div>

    </div>

  </div>

  <!-- End of Page Wrapper -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Your Website 2019</span>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desea cerrar sesion?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="/">Salir</a>
            </div>
        </div>
    </div>
</div>

  <!-- Bootstrap core JavaScript-->
  <script src="../css/vendor/jquery/jquery.min.js"></script>
  <script src="../css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../css/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../css/vendor/chart.js/Chart.min.js"></script>

  
  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first --> 
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
     <script src="../css/js/postular.js"></script>

     <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>

    <!--Cloud Firestore-->
    <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-auth.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC7rFd7iqWu-w_DD51AihdP4IOLbnHIbYU",
    authDomain: "bioteca-4645c.firebaseapp.com",
    databaseURL: "https://bioteca-4645c.firebaseio.com",
    projectId: "bioteca-4645c",
    storageBucket: "bioteca-4645c.appspot.com",
    messagingSenderId: "68695445537",
    appId: "1:68695445537:web:e906ddc54407fbd1985360",
    measurementId: "G-30E3QJVZFP"
  };
  // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
<script src="/__/firebase/init.js"></script>
</body>

</html>