<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Buscar-->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar.." aria-label="Search"
                      aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
      
                <!-- panel de postular y usuario -->
                <ul class="navbar-nav ml-auto">
                  <div class="topbar-divider d-none d-sm-block"></div>
      
                  <!-- Nav Item - User Information -->
                  <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= datospersona[0].nombres%></span>
                      <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                    </a>
      
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Salir
                      </a>
                    </div>
                  </li>
      
                </ul>
      
              </nav>

            <div class="card shadow mb-4">

                <% if(typeof registro !== 'undefined'){ %>
                <form name="formDatos" method="POST" action="/Actualizarpersona">
                    <input id="input" type="text" scope="col" name="id" value="<%= registro[0]['idpersona']%>">
                    </input>
                    <select name="rol">
                        <% if(registro[0]['rol'] = 2){ %>
                        <option value="<%= registro[0]['rol']%>">usuario</option>
                        <option value=3>evaluador</option>
                        <% } else if(registro[0]['rol'] = 3){ %>
                        <option value="<%= registro[0]['rol']%>">evaluador</option>
                        <option value=2>usuario</option>
                        <% } %>
                    </select>
                    <input id="input" type="hidden" scope="col" name="rol2" value="<%= registro[0]['rol']%>"></input>

                    <button type="submit" class="btn btn-success"> ACTUALIZAR ROL</button>
                </form>
                <% } %>

                <center>
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">PERSONAS</h6>
                    </div>
                </center>

                <div class="row">
                    <div class="col">


                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Id persona</th>
                                    <th scope="col">Nombres</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Contraseña</th>
                                    <th scope="col">Rol</th>
                                </tr>
                            </thead>

                            <tbody>

                                <% datos.forEach(element => { %>
                                <tr>
                                    <td>
                                        <%= element['idpersona']%>
                                    </td>
                                    <td>
                                        <%= element['nombres']%>
                                    </td>
                                    <td>
                                        <%= element['apellidos']%>
                                    </td>
                                    <td>
                                        <%= element['correo']%>
                                    </td>
                                    <td>
                                        <%= element['contrasena']%>
                                    </td>
                                    <td>
                                        <%= element['rol']%>
                                    </td>
                                    <td><a class="btn btn-danger"
                                            href="/BorrarPersona/<%= element['idpersona']%>">Borrar</a></td>
                                    <td><a class="btn btn-success"
                                            href="/actualizar/<%= element['idpersona']%>">Modificar rol</a>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->

        <!-- End of Footer -->

    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Desea cerrar sesion?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../css/vendor/jquery/jquery.min.js"></script>
    <script src="../css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../css/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../css/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>